services:
  redis:
    image: redis:7.0.15
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:8.2.1
    container_name: mongo
    ports:
      - "27017:27017"

  cassandra:
    image: cassandra:4.1.10
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=256M

  neo4j:
    image: neo4j:5.26.17
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/test1234
      - NEO4J_dbms_memory_pagecache_size=512M
      - NEO4J_dbms_memory_heap_initial__size=512M
      - NEO4J_dbms_memory_heap_max__size=512M

